<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles/dashboard.css" />
  </head>

  <body>
    <h1>Dashboard</h1>
    <div class="review-container">
      <ul class="review-list">
        <% for (let i=0; i < results.length; i++) { %>
        <li><%= JSON.stringify(results[i].review) %></li>
        <% } %>
      </ul>
    </div>

    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        // Access EJS variable in the script tag
        var revs = <%- JSON.stringify(results) %>;

        // Now you can use ejsVariable in your JavaScript code
        console.log(revs);

        var xValues = ["excellent", "good", "neutral", "bad", "very bad"];
        let yValues =[0,0,0,0,0];
         revs.forEach((item)=>{
          if(item.category==='excellent'){
            yValues[0]++;
          }
          else if(item.category==='good'){
            yValues[1]++;
          }
          else if(item.category==='neutral'){
            yValues[2]++;
          }
          else if(item.category==='bad'){
            yValues[3]++;
          }
          else if(item.category==='very bad'){
            yValues[4]++;
          }

        })

      console.log("yvals:",yValues);
      var barColors = ["red", "green", "blue", "orange", "brown"];

      const ctx = document.getElementById('myChart').getContext("2d");
      new Chart(ctx, {
        type: "bar",
        data: {
          labels: xValues,
          datasets: [
            {
              backgroundColor: barColors,
              data: yValues,
            },
          ],
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: "Bar Graph",
          },
        },
      });
    </script>
  </body>
</html>
