<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>CruSyt Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/unicons.css" />
  <link href="https://preview.cruip.com/solid/dist/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet" />
  <link rel="stylesheet" href="/login.css" />
</head>

<body>
  <div class="hero-figure anime-element" id="scroll-animate">
    <div class="section section1">
      <div class="center-wrap">
        <h1 class="text-center word">CruSyt</h1>
        <button class="button-74" id="googleSignInBtn" type="button"><img src="/googlePng2.png" alt="">Signin With
          Google</button>
      </div>
      <p class="hero-paragraph">Decode Social Buzz, Drive Informed Decisions through Crucial Insights using Sentiment
        Analysis.</p>
    </div>

    <rect width="528" height="396" style="fill: transparent" />
    </svg>

    <div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>

    <div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>

    <div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>

    <div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>

    <div class="hero-figure-box hero-figure-box-05"></div>
    <div class="hero-figure-box hero-figure-box-06"></div>
    <div class="hero-figure-box hero-figure-box-07"></div>

    <div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>

    <div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>

    <div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
  </div>

  <div class="section">
    <section>

      <div class="accordion-container">
        <div class="accordion-header">
          <div class="accordion-toggle">+</div>
          <span class="accordion-title">Lorem Ipsum</span>
        </div>
        <div class="accordion-content">
          <p class="accordion-text">
            Changed your mind? No problem! Our hassle-free return and exchange
            policy ensures that you can send back any product within 30 days of
            purchase. <br />
            We value your satisfaction above all. <br />
            <br />
            To extend the life of your purchase, follow our recommended care
            instructions. Most products are machine washable in cold water.
            Avoid using bleach, and it's best to air dry to retain the product's
            quality and feel. We offer free shipping for orders above $50. Our
            trusted delivery partners ensure that your product reaches you in
            pristine condition. Expect your order to arrive within 5-7 business
            days. Expedited shipping options are also available at checkout.
          </p>
        </div>
      </div>
      <div class="accordion-container">
        <div class="accordion-header">
          <div class="accordion-toggle">+</div>
          <span class="accordion-title">Lorem, ipsum dolor</span>
        </div>
        <div class="accordion-content">
          <p class="accordion-text">
            Adopting a balanced diet can boost immunity, increase energy levels,
            and reduce the risk of chronic diseases. Remember to consume more
            fruits, vegetables, and whole grains.
          </p>
        </div>
      </div>
      <div class="accordion-container">
        <div class="accordion-header">
          <div class="accordion-toggle">+</div>
          <span class="accordion-title">Lorem, ipsum dolor</span>
        </div>
        <div class="accordion-content">
          <p class="accordion-text">
            To ensure the perfect fit, visit our comprehensive size guide page.
            With detailed measurements and fit suggestions, you're bound to find
            your ideal size. If in doubt, our customer support is here to
            assist!
          </p>
        </div>
      </div>
      <div class="accordion-container">
        <div class="accordion-header">
          <div class="accordion-toggle">+</div>
          <span class="accordion-title">Lorem, ipsum dolor</span>
        </div>
        <div class="accordion-content">
          <p class="accordion-text">
            To extend the life of your purchase, follow our recommended care
            instructions. Most products are machine washable in cold water.
            Avoid using bleach, and it's best to air dry to retain the product's
            quality and feel.
          </p>
        </div>
      </div>
      <script>
        let accordionHeaders = Array.from(document.querySelectorAll(".accordion-header"));

        accordionHeaders.map((header) =>
          header.addEventListener("click", () => {
            toggleAccordion(header);
          })
        );

        function toggleAccordion(currentTarget) {
          accordionHeaders.map((header) => {
            const accordionContent = header.nextElementSibling;
            const togglerBtn = header.firstElementChild;

            if (currentTarget !== header) {
              togglerBtn.classList.remove("active");
              accordionContent.classList.remove("active-content");
            } else {
              togglerBtn.classList.toggle("active");
              accordionContent.classList.toggle("active-content");
            }
          });
        }
      </script>
    </section>
  </div>

  <div class="section"></div>

  <div class="switch">
    <div class="circle"></div>
  </div>

  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>

  <footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="#">About</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
    </ul>
  </footer>

  <!-- partial -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="/main.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.6.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.6.0/firebase-auth-compat.js"></script>
  <script src="scripts/firebaseAuth.js">


  </script>

</body>

</html>