<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" href="styles/searchpage.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap">

    

</head>

<body>
    <h1 style="text-align: center;">
        Welcome to Search Page
    </h1>
    <form action="/reddit-results" method="post">
        <input class="search-input" type="text" placeholder="Enter your product name" name="searchQuery">
        <button type="submit">Search</button>
    </form>


</body>

</html>